.course {
  display: block;
  &:not(:last-child) {
    margin-bottom: rem(30px);
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    @include mq(medium) {
    flex-direction: row;
    gap: rem(20px);
  }
  }
  &__card-image {
    order: 1;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
    @include mq(medium) {
      max-width: rem(230px);
  }
  }
  &__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 3;
    gap: rem(8px);
    @include mq(medium) {
      order: 2;
    }
  }
  &__card-price-wrapper {
    order: 2;
    display: flex;
    gap: 6px;
    flex-direction: row;
    @include mq(medium) {
      flex-direction: column;
      order: 3;
    }
  }
  &__card-heading {
    font-size: rem(20px);
    color: $dark-700;
  }
  &__card-group {
    display: flex;
    gap: rem(8px);
    color: $dark-700;
  }
  &__card-user-icon {
    height: rem(30px);
    width: rem(30px);
    background-color: #18b3c7;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  &__card-icon-text {
    color: $white;
  }
  &__card-user-text {
    color: $dark-700;
  }
  &__card-oldprice {
    text-decoration: line-through;
  }
  &__card-price {
    color: $dark-700;
    font-size: rem(24px);
    font-weight: 700;
    line-height: ren(27px);
  }
}
