.course-single{
    display: grid;
    min-height: 60vh;
    margin: rem(56px) rem(16px);
    @include mq(medium){
        grid-template-columns: rem(300px) 1fr;
        margin: rem(56px) rem(24px);
    }
    &__first-row{
        grid-area: 2 / -1;
        @include mq(medium){
            grid-area: auto;
        }
    }
    &__topic-wrapper{
        width: 100%;
        padding: rem(16px) rem(8px);
        border-top: 1px solid $gray-300;
    }
    &__topic-head,&__topic-first-row,&__topic-wrapper{
        display: flex;
        align-items: center;
    }
    &__topic-head,&__topic-wrapper{
        justify-content: space-between;
    }
    &__topic-icon{
        width: rem(16px);
    }
    &__topic-image{
        width: rem(24px);
    }
    &__second-row{
        padding: rem(16px);
    }
    &__video-wrapper{
        position: relative;
        height: 0;
        padding-top: 45.25%;
    }
    &__video{
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
    }
}